*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus{
    outline: 3px dashed var(--blue);
    outline-offset: 2px;
}


/* ROOT */
:root{
    --title-color: #2D314D;
    --text-color: #9597A5;
    --button-gradient: background:linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    --active-color: #30C88F;
}


/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

    body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.15px;
    background-color: #fff;
    color: var(--text-color);
    overflow-x: hidden;
}

    img {
    max-width: 100%;
    height: auto;
    }

  *:focus {
    outline: 2px dashed var(--active-color);
    outline-offset: 3px;
    }


  /* CONTAINER  */
    .container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-content{
    flex-grow: 1;
}


/* LOGO */
.logo {
    display: block;
    text-decoration: none;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}


/* SITENAV */
.sitenav {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.11px;
}

.site-header__list {
    text-align: center;
    padding: 0;
    margin-bottom: 50px;
    margin-right: 255px;
    display: flex;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 30px;
}

.sitenav__link{
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.107692px;
}

.sitenav__link:hover{
    color: var(--title-color);
}

.sitenav__link:active{
    color: var(--active-color);
}

/* BUTTON */
.button {
    text-decoration: none;
    display: inline-block;
    padding: 8px 36px;
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #fff;
    background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
    border-radius: 22px;
    width: 163px;
    height: 44px;
}

.button:active{
    opacity: 0.6;
}


/* SITE-HEADER */
.site-header {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 1440px;
    height: 85px;
}

.site-header-container {
    display: flex;
    text-align: center;
}

.site-header__logo {
    margin-right: auto;
}


.site-header__sitenav {
    margin-right: 30px;
}


/* HERO */
.hero {
    padding-top: 250px;
    padding-bottom: 263px;
    background-image: url(/img/hero-bg-desktop.svg);
    background-repeat: no-repeat;
    object-fit: none;
    display: flex;
    background-position: calc(70% + 600px) -200px;
}

.hero__container {
    display: flex;
    align-items: flex-start;
}

.hero__content {
    flex-shrink: 0;
    width: 100%;
    max-width: 447px;
    margin-right: 162px;
}

.hero__img {
    object-fit: none;    
    margin-top: -300px;
    display: flex;
    width: 729px;
    height: 900px;
}

.hero__tite {
    font-size: 56px;
    line-height: 64px;
    font-weight: 100;
    letter-spacing: -1px;
    color: var(--title-color);
}

.hero__text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28125px;
}


/* QUESTION */
.question{
    margin: 0;
    padding: 0;
    margin-left: 35px;
    margin-bottom: 72px;
}

.question__title {
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.71px;
    font-weight: 100;
    color: var(--title-color);
}

.question__text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28125px;
    color: var(--text-color);
    width: 635px;
    height: 56px;
}


/* INFORMATION */
.information {
    padding: 0;
    margin: 0;
}

.information__list {
    display: flex;
    list-style: none;
}

.information__item {
    width: 355px;
    height: 278px;
}

.information__item:not(:last-child){
    margin-right: 30px;
}

.information__link {
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
    font-weight: 100;
    letter-spacing: -0.428571px;
    color: var(--title-color);
}

.information__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 100;
    letter-spacing: -0.428571px;
    color: var(--title-color);
}

.information__text {
    width: 255px;
    height: 112px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.25px;
}



/* ARTICLES */
.articles {
    width: 100%;
    max-width: 1440px;
    height: 2269px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
}

.articles__heading {
    margin-left: 30px;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.71px;
    font-weight: 100;
    color:var(--title-color);
    letter-spacing: -0.714286px;
}

.articles__link{
    text-decoration: none;
}

.articles__list {
    list-style: none;
    display: flex;
}

.articles__item {
    width: 255px;
    height: 395px;
    border-radius: 5px;
    background-color: #fff;
    padding-bottom: 30px;
}

.articles__item:not(:last-child){
    margin-right: 30px;
}

.articles__img {
    width: 255px;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
}

.articles__small-text {
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.16px;
    margin-top: 26px;
    margin-bottom: 8px;
}

.articles__title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 100;
    letter-spacing: -0.29px;
    color: var(--title-color);
}

.articles__text {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.2px;
    margin-bottom: 50px;
}

.articles__inner{
    margin: 24px;
    width: 207px;
    height: 120px;
}


